
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #491217;
  --text-color: #fff;
  --background-color: #0f0905;
  --secondary-color: #fddf5a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1e90ff;
  }
}

body {
  font-family: "Times New Roman", Times, serif;
}


