
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #491217;
  --text-color: #fff;
  --background-color: #0f0905;
  --secondary-color: #fddf5a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1e90ff;
  }
}

body {
  font-family: "Times New Roman", Times, serif;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #FDDF5A;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}
