@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #491217;
  --text-color: #fff;
  --background-color: #0f0905;
  --secondary-color: #fddf5a;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.active {
  background-color: #fddf5a;
  color: #491217;
}

.fc {
  background-color: transparent !important;
}

.calendar-wrapper {
  overflow: hidden;
}

.fc-toolbar-title {
  font-size: 1.5rem !important;
}

.fc-event {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #000 !important;
}
